//- Used pug engine (was formerly known as jade) that crates html, but is faster and easier to write

html
    body
        link(href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet")

        canvas#matchfield

        div#playinformation
            div Punkte:
                strong.points
            div Spielgeschwindigkeit:
                strong.gameSpeed

        hr

        .instructions
            p
                kbd Esc
                |  Spiel beenden
            p
                kbd p
                |  Pause - Spiel unterbrechen / fortsetzen

            p
                kbd ←
                kbd →
                kbd ↑
                kbd ↓
                |  Bewegt die Schlange und startet so auch das Spiel

        script(src="./index.js")
